{extend name="public:base" /}

{block name="head"}
<link href="__PUBLIC__/view_res/mobile/css/product.css" type="text/css" rel="Stylesheet" />
<link href="__PUBLIC__/jquery-weui/dist/lib/weui.min.css" type="text/css" rel="Stylesheet" />
<link href="__PUBLIC__/jquery-weui/dist/css/jquery-weui.min.css" type="text/css" rel="Stylesheet" />
<script src="__PUBLIC__/jquery-weui/dist/js/jquery-weui.min.js"></script>
<script src="__PUBLIC__/jquery-weui/dist/js/swiper.min.js"></script>
<link href="__CSS__/jquery.toast.css" rel="stylesheet" />
<script  src="__JS__/jquery/jquery.toast.js" type="text/javascript" ></script>

<style>
	.swiper-container {
	    width: 100%;
	}
	.swiper-container img {
	    display: block;
	    width: 100%;
	}
	#appCartWrap{
		padding: 0;
		margin: 0;
		text-align: center;
	}
	.button{
		margin: 0;
		padding: 0;
		width: 94%;
		margin-left: 3%;
	}
	/*重载jquery-weui.min.css中样式*/  
	label > * {
	  pointer-events: auto;
	}	
</style>
{/block}

{block name="header"}
{include file="public/top-nav" /}
{/block}

{block name="content"}
<div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {volist name="image" id="image"}
            <div class="swiper-slide"><img src="IMG_ROOT{$image.image|resize=400,400}" /></div>
      	{/volist}
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
</div>

<div id="container">


	<input id="house_id" type="hidden" value="{$house.id}" name="house_id">
	
	<p class="vpd-title" style='height:auto;'>
		标题/Title：{$house.title}
    </p>

	<dl class="pd-dsc clearfix">
		<dt>价格/Price：</dt>
		<dt class="prices" data-price="{$house.price|round=2}" id="pd-market-price">&yen;{$house.price|round=2}</dt>
	</dl>

   	<dl class="pd-dsc clearfix" id="product_stock_address">
		<dt>地址/Address：</dt>
		<dt id="address">{$house.address}</dt>
	</dl>

	<dl class="pd-dsc clearfix" id="product_stock_wrap">
		<dt>详细/Detail：</dt>
		<dt id="detail">{$house.detail}</dt>
	</dl>
</div>   




{/block}

{block name="footer"}


<div id="appCartWrap" class="clearfix">
	<a class="button" id="apply" data-add="0" >申请/Apply</a>
</div>

{/block}

{block name="script"}
<script>
$(function(){
    $('#apply').click(function () {
        $.post(
            "{:url('app/housedetail')}",
            {id:$('#house_id').val()},
            function(d){
                if(d){
                    if(d.error){
                        $.toast({
                            heading: 'Warning',
                            text: d.error,
                            showHideTransition: 'plain',
                            icon: 'warning'
                        })
                        if(d.url){
                            setTimeout(function (){
                                location.href=d.url;
                            }, 3000);
                        }
                    }else if(d.success){
                        $.toast({
                            heading: 'Success',
                            text: d.success,
                            showHideTransition: 'slide',
                            icon: 'success'
                        })
                        if(d.url){
                            setTimeout(function (){
                                location.href=d.url;
                            }, 3000);
                        }
                    }
                }
            }
        );
    })
    var url = window.location.href;
	$("#share_text").val(url)
	$(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
      });


});
</script>
{/block}