{extend name="public:base" /}
{block name="jquery"}{/block}  
{block name="head"}
<link href="__PUBLIC__/view_res/mobile/css/cart.css" type="text/css" rel="Stylesheet" />
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
{/block}
{block name="header"}
{include file="public/top-nav" /}
{/block}

{block name="content"}

<h3  align="center">Please don't take a part-time job in China</h3>



{/block}

{block name="footer"}
{include file="public/footer-nav" /}
{/block}

{block name="script"}
<script data-main="__RES__/mobile/js/search.js" src="__RES__/mobile/js/require.min.js"></script>
{/block}
