@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;	
	background:#fff;
	font-weight:normal;
	/*font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;'Microsoft YaHei UI', 'Microsoft YaHei', SimSun, 'Segoe UI', */
	font-family:'Microsoft YaHei UI', 'Microsoft YaHei', SimSun, 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body,td,table{
	font-size:12px;
}
/*div*/
.div-a
{
    margin:0 15px;
}
.div-space{
	height:10px;
	overflow:hidden;
	margin:0 auto;
}
.xcenter
{
    margin:0 auto;
}
.word{word-break:break-all;}
.dn{display:none;}

/*form*/
form{
	margin:0;
	padding:0;
	font-size:12px;
}
:focus{outline:0;}
p{
	padding:0;
	margin:0;
}
a{
	color:#333;
	text-decoration:none;
}
a:hover{
	color:#C4181F;
	text-decoration:none;
}
ul,dl,li,dt,dd{
	padding:0px;
	margin:0px;
	list-style:none;
}
h1,h2,h3,h4,h5,h6,p{margin:0px;}
.wrapper{
	clear:both;
	min-width:1200px;
	margin:0 auto;
	padding:20px 0;
	margin-top:20px;
	border-top:1px solid #ccc;
}
.wrapper-bd{
	clear:both;
	width:948px;
	margin:0 auto;
	border:1px solid #e0e0e0;
	background:#FBFCE4;
}
.clear{
	clear:both;
}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
.fl{float:left; display:inline;}
.fr{float:right; display:inline;}

.red{
	color:#F00;
}
.green{
	color:#390;
}
.grey{
	color:#999;
}
.blue{
	color:#36F;
}
.black-num{
	color:#000;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
}
.gray-num{
	color:#ccc;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
}
.orange-num{
	color:#f90;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
}
.hl-orange{
	color:#f28e00;
	font-size:14px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
}
.vaimg{
	vertical-align:middle;
	border:0px;
}
img{border:0px;}
/*edit*/
.edit-a
{
    margin:0 auto;
}
/*table*/
.tbl-a{
	width:100%;
	border-top:1px solid #e0e0e0;
	border-left:1px solid #e0e0e0;
}
.tbl-a tr
{
}
.tbl-a tr:hover
{
    background:#ECF3FF;
}
.tbl-b{
	border-top:1px solid #e0e0e0;
	border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
	width:100%;
}
.tbl-b td
{
    background:#f2f2f2;
}

.tbl-a th,.tbl-b th{
	font-weight:bold;
	text-align:center;
}
.tbl-a td,.tbl-a th{
	border-bottom:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
}
.tbl-b td,.tbl-b th{
	border-bottom:1px solid #e0e0e0;
}
.tblcenter
{
    text-align:center;
}
.th-r
{
    text-align:right;
}
.tbl-n{}
.tbl-n tr,.tbl-n th,.tbl-n th{border:0;text-align:left;padding-right:30px;}

/*width*/
.w100{width:100%;}
.w50{width:50%;}
.w33{width:33.33%;}
.w25{width:25%;}
.w20{width:20%;}
/*top*/
.top-bg{
	clear:both;
	border-top:0px solid #000;
	position:absolute;
	width:100%;
	z-index:9999;
	height:60px;
	left:0;
	top:0;
	/*background:url("images/top-bg-mask.png") top center repeat-x;*/
}
.top-bg-0{
	clear:both;
	border-top:0px solid #000;
	position:absolute;
	width:100%;
	z-index:9999;
	height:123px;
	left:0;
	top:0;
	/*background:url("images/top-bg-mask.png") top center repeat-x;*/
}

.topx-mask{
	background:#fff;
	height:60px;
	width:100%;
	position:absolute;
}
.topx-mask-0{
	background:#fff;
	height:123px;
	width:100%;
	position:absolute;
}
.topx{
	clear:both;
	position:relative;
	margin:0 auto;
	width:1160px;
	height:60px;
	z-index:99999;
}
.topx-0{
	clear:both;
	position:relative;
	margin:0 auto;
	width:1160px;
	height:123px;
	z-index:99999;
}
@media all and (max-width:1160px){
	.topx{width:100%;}
}
.topx a{
	color:#44abd8;
}
.logo{
	display:block;
	width:190px;
	height:40px;
	z-index:999999;
	padding-top:19px;
	padding-left:33px;
}
.logo a{display:block;width:190px;height:40px;text-indent:-9999px;overflow:hidden; cursor:pointer;}
html>body .logo a{
	background:url("images/logo.png") 0 0 no-repeat;
}
*.logo a{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src='/theme/default/images/logo.png',sizingMethod=noscale);
}

.logo-0{
	display:block;
	width:190px;
	height:40px;
	z-index:999999;
	padding-top:43px;
	padding-left:33px;
}
.logo-0 a{display:block;width:190px;height:40px;text-indent:-9999px;overflow:hidden; cursor:pointer;}
html>body .logo-0 a{
	background:url("images/logo-0.png") 0 0 no-repeat;
}
*.logo-0 a{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src='/theme/default/images/logo-0.png',sizingMethod=noscale);
}

.top-nav{
	position:absolute;
	right:75px;
	top:10px;
	height:20px;
	text-align:center;
	z-index:9999999;
}
.top-nav-0{top:40px;}
.top-nav dl{margin:0;padding:0;}
.top-nav dd{margin:0;padding:0;padding-right:20px;float:left;color:#666;}
.top-nav a{font-size:12px;color:#333;display:block;}

.hotline{
	position:absolute;
	right:0px;
	top:25px;
	width:163px;
	height:35px;
	font-size:18px;
	font-weight:normal;
	line-height:32px;
	color:#333;
	background:url("images/hotline.png") 0 0 no-repeat;
	text-indent:-9999px;
}
.hotline-0{top:65px;}

.search{
    position:absolute;
    right:180px;
    top:32px;
    width:184px;
    height:22px;
    background:#fff;
    border:1px solid #ccc;
}
.search-0{top:72px;}
.search-input{
    border:none;
    background:none;
    width:156px;
    height:18px;
    position:absolute;
    left:2px;
    top:2px;
}
.search-btn{
    position:absolute;
    right:0;
    top:0;
    width:22px;
    height:22px;
    background:url("icons/btn-search.png") 1px 1px no-repeat #ccc;
    cursor:pointer;
}

.top-weixin{position:absolute;right:0;top:2px;width:100px;padding-right:40px;height:32px;background:url("icons/icon-weixin.png") top right no-repeat;text-align:right;line-height:32px;}
.top-weixin-0{top:32px;}
.top-weixin-qrcode{position:absolute;right:0;top:32px;width:120px;height:0px;background:url("icons/weixin-qrcode.jpg") 0 0 no-repeat;z-index:9;}
.top-weixin-qrcode-0{top:32px;}

.head-mask{width:100%;min-width:1200px;height:60px;overflow:hidden; position:absolute;top:0;left:0;z-index:99;background:#fff;filter:alpha(opacity=70);opacity:0.7;-moz-opacity:0.7;}
.head-mask-0{width:100%;min-width:980px;height:123px;overflow:hidden; position:absolute;top:0;left:0;z-index:99;background:#fff;filter:alpha(opacity=70);opacity:0.7;-moz-opacity:0.7;}

/*menu*/
/*new menu*/
.xnav{position:relative;top:60px;}

.nav{width:1160px; margin:0 auto;}
.nav ul li{float:left; margin-left:-1px;/* background:url("images/navLine.png") no-repeat 100% 50%; position:relative;*/width:105px;margin-left:5px;margin-right:5px;}
.nav ul li.last{background:none;}
.navName{display:block; height:33px; line-height:33px; text-align:center; font-size:14px; color:#fff;}
.navName:hover,.nav ul li.current .navName{background-color:#a71017; color:#fff;}
.navMenu{width:400px; position:absolute; top:33px; left:0; padding:12px 0; border-bottom:4px solid #c4181f; background:url("images/navBg.png") repeat;display:none;}
.navMenu-0{top:40px;}
.navMenu ul li{width:160px; margin:0 20px; display:inline; background:none;}
.navName2{width:100%; display:block; height:34px; line-height:34px; border-bottom:1px solid #c6b6b6; font-size:14px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.navName2:hover,.navMenu ul li.current .navName2{color:#f20000;}
.navName2x{width:100%; display:block; border-bottom:0px solid #c6b6b6; font-size:18px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;padding:10px 0 10px 20px;font-weight:400;}
.navName2x span{border-bottom:1px solid #c6b6b6;display:block;margin-right:40px;padding-bottom:5px;}
.navName2x:hover,.navMenu .current .navName2x{color:#f20000;}
.navMenu ul li.current{position:relative; z-index:9;}
.navMenu ul li.current .navName2{background:url("images/navArrow.png") no-repeat 100% 50%;}
.navMenu i{width:0; height:0; position:absolute; top:-12px; left:50%; margin-left:-6px; border:6px solid transparent; _border-color: tomato;  _filter: chroma(color=tomato); border-bottom-color: #fff; overflow:hidden; pointer-events: none;}

.nav-0{height:40px;line-height:40px;}

.navMenuTwo{width:400px; border-left:3px solid #cccccc; position:absolute; top:0px; left:100%; z-index:99;  background-color:#f2f2f2; display:none;}
.navMenuTwo_con{padding:10px 0; overflow:hidden; }
.navMenuTwo_tab{width:160px; float:left; padding-bottom:9999px; margin-bottom:-9999px;}
.navMenuTwo_tab ul li{width:130px; margin:0; text-align:left; padding:0 10px;}
.navMenuTwo_tab ul li a{height:36px; line-height:36px; font-size:14px; width:100%; display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.navMenuTwo_tab ul li a:hover,.navMenuTwo_tab ul li.current a{color:#f20000;}
.navMenuTwo_list{width:238px; float:left; border-left:1px solid #ccc;  padding-bottom:9999px; margin-bottom:-9999px;}
.navMenuTwo_list ul li em{font-family:"宋体"; font-style:normal; margin-right:8px;}
.navMenuTwo_list ul li{width:100%; margin:0;}
.navMenuTwo_list ul li a{height:36px; line-height:36px; font-size:14px; color:#666; padding-left:20px; display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.navMenuTwo_list ul li a:hover{color:#f20000;}
.navMenuOther{width:160px; position:absolute; top:35px; left:50%; margin-left:-80px; z-index:99; padding:5px 0 15px 0; border-bottom:2px solid #c4181f; background:url("../images/navBg.png.html") repeat; display:none;}
.navMenuOther ul li{width:140px; float:none; padding:0 10px; background:none; margin:0;}
.navMenuOther .arrowOne{width:0; height:0; position:absolute; top:-12px; left:50%; margin-left:-6px; border:6px solid transparent; _border-color: tomato;  _filter: chroma(color=tomato); border-bottom-color: #fff; overflow:hidden; pointer-events: none;}
.navMenu .arrowOne{width:0; height:0; position:absolute; top:-12px; left:50%; margin-left:-6px; border:6px solid transparent; _border-color: tomato;  _filter: chroma(color=tomato); border-bottom-color: #fff; overflow:hidden; pointer-events: none;}
.navMenuOther_name{width:100%; display:block; height:40px; line-height:40px; border-bottom:1px solid #c6b6b6; font-size:14px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.navMenuOther_con{width:150px; min-height:100%; position:absolute; top:0; left:100%; padding:5px 10px 15px 10px; border:1px solid #dcdcdc; background:#f1f1f1; z-index:999;-webkit-border-radius: 8px;border-radius: 8px;display:none;
}
.navMenuOther_conx{padding:0 0 0 20px;}
.navMenuOther_con .arrowTwo{width:0; height:0; position:absolute; top:17px; right:100%; border:8px solid transparent; _border-color: tomato;  _filter: chroma(color=tomato); border-right-color: #ccc; overflow:hidden; pointer-events: none;}
.navMenuOther_con dl dd{width:100%;width:auto;display:block;float:none;padding:5px 0 5px 0;margin:0 10px;}
.navMenuOther_conx dd{padding:3px 0;}
.navMenuOther_con ul li{width:100%;width:auto;display:block;float:none;padding:5px 0 5px 0;margin:0 10px;}
.navMenuOther_name2{width:100%; display:block;line-height:20px; border-bottom:0px solid #c6b6b6; font-size:14px; font-weight:100;/*white-space:nowrap; text-overflow:ellipsis; overflow:hidden;*/}
.navMenuOther_name2x{clear:both;display:block; padding:0px 0;font-size:12px;color:#666;}

.nav-search-btn{position:absolute;right:0;top:0;width:35px;height:35px;text-align:center;}
.nson{background:#666;}

.nav-search-btn img{width:20px;height:20px;cursor:pointer;position:absolute;top:7px;left:7px;z-index:100;}
.nav-search-con{position:absolute;right:0;top:0;width:250px;height:35px;background:#666;display:none;z-index:99;}


.nav-bg{
	height:33px;
	background:#c4181f;
}
.nav-bg-0{
	height:40px;
	background:#c4181f;
}
#menu{width:980px;height:33px;z-index:99999;margin:0 auto;}
.menu-0{height:40px;}
#menu ul{padding:0 0; list-style-type:none; margin:0 0;}
#menu li{position:relative;float:left;width:auto;padding-left:1px;}

#menu li a{width:auto;display:block;color:#000;text-decoration:none;padding-left:20px;padding-right:20px;}
#menu li .nava{font-size:14px;font-weight:normal;color:#fff;height:33px; line-height:33px;display:block;}
#menu li .nava:hover{color:#fff;background:#A71017;}
.li-on{background:#A71017;}
#menu li .on{color:#eb5414;border-bottom:3px solid #000;}
#menu li .nava-on{font-size:14px;font-weight:normal;color:#fff;height:33px; line-height:33px;display:block;background:#A71017;}
#menu li .nava-on:hover{color:#fff;}

#menu ul .sub{position:absolute;width:1000px;display:none;background:/*url("images/bg.png") 0 0 repeat-x */#494949;top:45px; left:0px;padding:0px;z-index:99999;}

#menu .lix{float:left;width:230px;margin:0;padding:0;margin-left:10px;}
#menu ul .sub h2{padding:10px 0px 5px 0;font-size:12px;margin:10px 0 0 0;font-weight:bold;border-bottom:1px dotted #8AA6BF;color:#000;}
#menu ul .sub h2 a{color:#000;padding-left:0;}
#menu ul .sub h2 a:hover{color:#090;}
#menu ul dl{margin:0;padding:5px 0 0 0;}
#menu ul dl dd{position:relative; display:block;text-align:left;padding-left:15px;margin:0;padding:0;}
#menu ul dl dd a{display:block;padding:0px 10px 3px 0px;color: #666;}
#menu ul dl dd a:hover{color:#06C;}
#menu ul dl h3{font-weight:normal;font-size:12px;padding-top:3px;}
#menu ul dl h3 a{text-decoration:none;}

#menu #sub-1{width:1230px;}
#menu #sub-2{width:200px;}
#menu #sub-2 dd{font-size:12px;}

.nophoto{height:133px;line-height:133px;border:1px solid #e0e0e0;color:#ccc;text-align:center;}

/*sub-home*/
.sub-home-1{width:1160px;margin:15px auto 0 auto;}
.sub-home-1{padding-bottom:30px;overflow:hidden;}
.sub-home-1 .li{ float:left;width:270px;margin:10px 10px;position:relative;display:inline-block;height:100%;}
.sub-home-1 .li h2{position:relative;padding:8px 0;border-bottom:1px solid #e0e0e0;font-weight:bold;text-align:left;}
.sub-home-1 .li h2 i{width:0px;height:14px;position:absolute;left:0;top:3px;background:#C4181F;}
.sub-home-1 .li h2 a{font-size:16px;}
.sub-home-1 .li h3{position:relative;padding:15px 0 0 0;font-weight:normal;}
.sub-home-1 .li h3 a{font-size:14px;}
.sub-home-1 .li .picb{width:270px;height:135px;overflow:hidden;background:#f1f1f1;margin-top:0px;}
.sub-home-1 .li .descriptions{padding:15px 0;line-height:28px;font-size:14px;color:#333;}
.sub-home-1 .li .descriptions p{padding:15px 0;line-height:28px;font-size:14px;color:#333;}
.sub-home-1 .li dl{margin-top:10px;padding-left:0px;}
.sub-home-1 .li dl dd{list-style:none;height:32px;line-height:32px;}
.sub-home-1 .li dl dd a{position:relative;font-size:14px;display:inline-block;}
.sub-home-1 .li dl dd a i{width:0px;height:0x;font-size: 0px;position: absolute;top: 50%;left: 0px;margin-top: -2px;background-color: #666;border-radius: 4px;}

.sub-home-1 .more{float:right; margin-top:5px; color:#666;}
.sub-home-1 .more:hover{color:#c4181f;}
.sub-home-1 .more i{margin-left:6px; font-family:"宋体"; font-style:normal;}

.sub-home-2{width:758px;margin:15px auto 0 auto;}
.sub-home-2{padding-bottom:30px;}
.sub-home-2 .li{float:left;vertical-align:top;width:220px;margin:10px 15px;position:relative;overflow:hidden;}
.sub-home-2 .li h2{position:relative;padding:20px 0 8px 0;border-bottom:1px solid #e0e0e0;font-weight:bold;}
.sub-home-2 .li h2 i{width:0px;height:14px;position:absolute;left:0;top:3px;background:#C4181F;}
.sub-home-2 .li h2 a{font-size:16px;}
.sub-home-2 .li h3{position:relative;padding:15px 0 0 0;font-weight:normal;}
.sub-home-2 .li h3 a{font-size:14px;}
.sub-home-2 .li .picb{width:220px;height:110px;overflow:hidden;background:#f1f1f1;margin-top:5px;}
.sub-home-2 .li .descriptions{padding:15px 0;line-height:28px;font-size:14px;color:#333;}
.sub-home-2 .li .descriptions p{padding:15px 0;line-height:28px;font-size:14px;color:#333;}
.sub-home-2 .li dl{margin-top:10px;}
.sub-home-2 .li dl dd{list-style:none;height:32px;line-height:32px;}
.sub-home-2 .li dl dd a{position:relative;font-size:14px;display:inline-block;}
.sub-home-2 .li dl dd a i{width:0px;height:0x;font-size: 0px;position: absolute;top: 50%;left: 0px;margin-top: -2px;background-color: #666;border-radius: 4px;}

.sub-home-2 .more{float:right; margin-top:5px; color:#666;}
.sub-home-2 .more:hover{color:#c4181f;}
.sub-home-2 .more i{margin-left:6px; font-family:"宋体"; font-style:normal;}

.sub-home-hot-2{width:1160px;margin:15px auto;}
.sub-home-hot-2 .bd{height:20px;border-top:1px solid #e0e0e0;margin:0 10px;}
.sub-home-hot-2 li{float:left;width:265px;height:32px;margin:5px 10px; list-style:none;}
.sub-home-hot-2 li h2{position:relative;padding:0px 0 8px 15px;font-weight:normal;}
.sub-home-hot-2 li h2 i{width:3px;height:3px;position:absolute;left:0;top:10px;background:#C4181F;}
.sub-home-hot-2 li h2 a{font-size:16px;}

.sub-home-3{width:1160px;margin:15px auto 0 auto;}
.sub-home-3{padding-bottom:30px;overflow:hidden;}
.sub-home-3 .li{ float:left;width:270px;margin:10px 10px;position:relative;display:inline-block;height:100%;}
.sub-home-3 .li h2{position:relative;padding:15px 0 5px 0;border-bottom:1px solid #e0e0e0;font-weight:bold;text-align:left;}
.sub-home-3 .li h2 i{width:0px;height:14px;position:absolute;left:0;top:3px;background:#C4181F;}
.sub-home-3 .li h2 a{font-size:16px;}
.sub-home-3 .li h3{position:relative;padding:15px 0 0 0;font-weight:normal;}
.sub-home-3 .li h3 a{font-size:14px;}
.sub-home-3 .li .picb{width:270px;height:135px;overflow:hidden;background:#f1f1f1;margin-top:0px;}
.sub-home-3 .li .descriptions{padding:5px 0 15px 0;line-height:28px;font-size:14px;color:#333;}
.sub-home-3 .li .descriptions p{padding:15px 0;line-height:28px;font-size:14px;color:#333;}
.sub-home-3 .li dl{margin-top:10px;padding-left:0px;}
.sub-home-3 .li dl dd{list-style:none;height:32px;line-height:32px;}
.sub-home-3 .li dl dd a{position:relative;font-size:14px;display:inline-block;}
.sub-home-3 .li dl dd a i{width:0px;height:0px;font-size: 0px;position: absolute;top: 50%;left: 0px;margin-top: -2px;background-color: #666;border-radius: 4px;}

.sub-home-3 .more{float:right; margin-top:5px; color:#666;}
.sub-home-3 .more:hover{color:#c4181f;}
.sub-home-3 .more i{margin-left:6px; font-family:"宋体"; font-style:normal;}

.sub-home-4{width:1161px;margin:15px auto 0 auto;}
.sub-home-4{padding-bottom:20px;overflow:hidden;}
.sub-home-4 .li{ float:left;width:270px;margin:20px 0px 10px 0;position:relative;display:inline-block;height:100%;}
.sub-home-4 .lispace{margin-right:27px;}
.sub-home-4 .li h2{position:relative;padding:15px 0 5px 0;border-bottom:1px solid #e0e0e0;font-weight:bold;text-align:left;}
.sub-home-4 .li h2 i{width:0px;height:14px;position:absolute;left:0;top:3px;background:#C4181F;}
.sub-home-4 .li h2 a{font-size:16px;}
.sub-home-4 .li h3{position:relative;padding:15px 0 0 0;font-weight:normal;}
.sub-home-4 .li h3 a{font-size:14px;}
.sub-home-4 .li .picb{width:270px;height:135px;overflow:hidden;background:#f1f1f1;margin-top:0px;}
.sub-home-4 .li .descriptions{padding:5px 0 15px 0;line-height:28px;font-size:14px;color:#333;}
.sub-home-4 .li .descriptions p{padding:15px 0;line-height:28px;font-size:14px;color:#333;}
.sub-home-4 .li dl{margin-top:10px;padding-left:0px;}
.sub-home-4.li dl dd{list-style:none;height:32px;line-height:32px;}
.sub-home-4 .li dl dd a{position:relative;font-size:14px;display:inline-block;}
.sub-home-4 .li dl dd a i{width:0px;height:0px;font-size: 0px;position: absolute;top: 50%;left: 0px;margin-top: -2px;background-color: #666;border-radius: 4px;}

.sub-home-4 .more{float:right; margin-top:5px; color:#666;}
.sub-home-4 .more:hover{color:#c4181f;}
.sub-home-4 .more i{margin-left:6px; font-family:"宋体"; font-style:normal;}
/*sub*/
.sub{width:1160px;margin:15px auto 25px auto;border-top:1px solid #888888;}

/*sub-nav*/
.sub-nav{float:left;width:240px;overflow:hidden;}
.sub-nav .subtitle{background:#eeeeee;padding-bottom:15px;}
.sub-nav .subtitle h2{width:200px;height:43px;background:#fff;margin:0 auto;padding-left:10px;line-height:43px;border:1px solid #ccc;border-top:0;font-size:16px;-webkit-border-bottom-left-radius: 8px;border-bottom-left-radius: 8px;-webkit-border-bottom-right-radius: 8px;border-bottom-right-radius: 8px;font-weight:normal;}

.sub-nav-li{border-bottom:0px solid #C00;}
.sub-nav h3{font-size:14px;padding:0;font-weight:normal;text-shadow: 0px 1px 0px #FFF;}
.sub-nav h3 a{color:#000;text-decoration:none;display:block;padding-left:19px;padding-right:10px;border-top:1px solid #d9d9d9;position:relative;}
.sub-nav .out a{color:#666;padding:0 30px 4px 18px;height:34px; line-height:30px; font-size:14px;text-shadow: 0px 1px 0px #fff; background:#e0e0e0 url("icons/sideLine.png") repeat-x 0 100%;border-left:0px solid #e0e0e0;border-right:0px solid #e0e0e0;}
.sub-nav .out a i{position:absolute;right:10px;width:32px;height:32px;top:14px;background:url("icons/icon_arrowR.png") 0 0 no-repeat;}
.sub-nav h3 a:hover{color:#C4181F;}
.sub-nav h3 a:hover i{display:block;}
.sub-nav .on{font-weight:bold;}
.sub-nav .on a{color:#000;padding:0 30px 4px 18px;height:34px; line-height:30px; font-size:14px;text-shadow: 0px 1px 0px #fff; background:#e0e0e0 url("icons/sideLine.png") repeat-x 0 100%;border-left:0px solid #e0e0e0;border-right:0px solid #e0e0e0;}
.sub-nav .on i{position:absolute;right:10px;width:32px;height:32px;top:14px;background:url("icons/icon_arrowR.png") 0 0 no-repeat;}
.sub-nav h4{font-size:14px;margin:0;background:#eeeeee;font-weight:normal;}
.sub-nav h4 a{display:block;padding:8px 0 8px 35px;border-bottom:1px solid #e0e0e0;}
.sub-nav h4 a:hover{color:#c4181f;}
.sub-nav h4 .xon{color:#c4181f;}

/*sub-con*/
.sub-con{float:right;width:900px;border-top:0;}
.sub-con-all{border-top:0;}
.sub-con-nav{height:40px;border-bottom:1px solid #e0e0e0;}
.sub-con-nav .con{margin:0px;height:40px;line-height:40px;font-size:14px;background:url("icons/icon-home.png") 0 0 no-repeat;padding-left:60px;font-weight:normal;}

.sub-con-con{margin:0px;border:1px solid #e0e0e0;}
.sub-con-con h1{height:50px;line-height:50px;font-size:18px;padding-left:36px;background:#e9e9e9;font-weight:normal;}
.sub-con-con .con{padding:27px 36px;line-height:28px;font-size:14px;overflow:hidden;font-weight:normal;}
.sub-con-con .con p{line-height:28px;font-size:14px;padding:6px 0;font-weight:normal;}

.sub-banner{width:100%;height:285px;margin:0 auto 15px auto;overflow:hidden;position:relative;text-align:center;}
.sub-banner .con{height:328px;margin:0 auto;overflow:hidden;text-align:center;min-width:980px;width:100%;}
.noborder{border-bottom:1px solid #fff;border:none;}

/*内页列表*/
.sub-con-con .list-1{padding:27px 36px;line-height:24px;font-size:14px;}
.sub-con-con .list-1 p{line-height:24px;font-size:14px;}



/**/

/** 内页通用 **/
.container{width:1160px; margin:0 auto;}
.mainBox{width:950px; float:right; margin-top:0px;}
.mainBox-1{margin-top:0px;}
.location{height:48px; line-height:48px; padding:0 20px; background-color:#ebebeb;}
.locationName{float:left; font-weight:normal; font-size:16px; color:#000;}
.locationLink{float:right;}
.locationLink a{color:#666;}
.locationLink a:hover{color:#c4181f;}

/** 通用单页 **/
.globalTitle{margin-top:25px; font-weight:normal; font-size:18px;}
.globalPage{line-height:28px; padding:20px 0; font-size:14px; color:#565656; }
.PageSplit
{
    margin:10px auto;
	clear:both;
	font-size:16px;
    padding-bottom:15px;
    text-align:center;
}
.PageSplit a{
	display:inline-block;
	color:#000;
	padding:6px;
	text-decoration:none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    margin-left:5px;
}
.PageSplit a:hover{
	display:inline-block;
	padding:6px;
	color:#C4181F;
	text-decoration:none;
}
.PageSplit .s{
	display:inline-block;
	padding:6px;
	color:#C4181F;
	text-decoration:none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    margin-left:5px;
}


/** 通用新闻详细页 **/
.globalDetail_top{padding:20px 0; border-bottom:1px solid #e6e6e6; text-align:center;}
.globalDetail_title{font-weight:normal; font-size:22px;}
.globalDetail_time{margin-top:10px; color:#999;}
.globalDetail_about{line-height:28px; padding:20px 0; font-size:14px; color:#565656;}

/** 中大商业评论首页 **/
/*mpbusiness*/
.logo-mpbusiness{top:22px;position:absolute;left:20px;}
.logo-mpbusiness .tips{float:left; margin:6px 0 0 15px; display:inline;}

.top-mpb{top:30px;}
.top-mpb-weixin{top:23px;}
.mpbusiness{width:1160px;margin:75px auto 20px auto;padding-bottom:20px;overflow:hidden;}
.mpbusiness .banner{height:340px;overflow:hidden;}
.mpbusiness .banner img{width:1160px;height:340px;}
.mpbusiness .title{height:40px;width:1160px;margin:1px auto;background:#c4181f;line-height:40px;font-size:16px;}
.mpbusiness .title a{color:#fff;padding-left:25px;padding-right:25px; display:inline-block;}
.mpbusiness .title a:hover{background:#a71017;}
.mpbusiness .con{padding-top:20px;}
.mpbusiness .left{float:left;width:220px;}
.mpbusiness .right{float:right;width:952px;}

.in_container{width:1160px; margin:20px auto 50px;}
.inLeft{width:220px; float:left;}

.sidebarName{height:48px; line-height:48px; padding-left:55px; border-left:4px solid #c4181f; font-weight:normal; font-size:16px; color:#f8f8f8; background-color:#505050;}
.sidebarList{background-color:#ebebeb;margin-bottom:15px;}
.sidebarList ul li a{height:42px; line-height:42px; display:block; border-bottom:1px solid #dbdbdb; padding-left:55px; font-size:14px;}
.sidebarList ul li a:hover,.sidebarList ul li.current a{background-color:#dbdbdb; color:#333;}
.sidebarTitle{height:38px; line-height:38px; border-bottom:2px solid #313131; padding-left:25px; font-weight:normal; font-size:18px; position:relative;}
.sidebarTitle i{width:2px; height:18px; font-size:0; position:absolute; top:50%; left:10px; margin-top:-9px; background-color:#c4181f;}
.sidebar_ewm{margin-top:20px;}
.sidebar_ewm_con{padding:12px 0; text-align:center; border:1px solid #ededed; background-color:#f4f4f4;}
.sidebar_subscribe{margin-top:20px;}
.sidebar_subscribe_con{padding:20px; background-color:#f4f4f4; border:1px solid #ededed;}
.sidebar_subscribe_name{margin-bottom:20px; font-size:14px;}
.sidebar_subscribeText{margin-top:12px; padding:0 8px; border:1px solid #dddddd; background-color:#fcfcfc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.sidebar_subscribeText .text{width:100%; height:20px; line-height:20px; padding:5px 0; border:0; background:none;}
.sidebar_subscribeBtn{width:72px; height:34px; line-height:34px; margin-top:15px; font-weight:bold; text-align:center; font-size:14px; color:#fff; border:1px solid #b11017; background-color:#c4181f; cursor:pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.inTitle{height:38px; line-height:38px; border-bottom:2px solid #313131; padding-left:25px; font-weight:normal; font-size:16px; position:relative;}
.inTitle i{width:2px; height:18px; font-size:0; position:absolute; top:50%; left:10px; margin-top:-9px; background-color:#c4181f;}
.in_ewm{padding:10px 0; background-color:#f4f4f4; border:1px solid #ededed; text-align:center;}
.in_hot{margin-top:20px;}
.in_hotList{padding:10px 10px 20px 10px; background-color:#f4f4f4; border:1px solid #ededed;}
.in_hotList ul li{height:36px; line-height:36px; padding-left:10px; position:relative;}
.in_hotList ul li i{width:18px; height:18px; line-height:18px; position:absolute; top:50%; left:0; margin-top:-9px; font-style:normal; text-align:center; background-color:#b3b3b3;}
.in_hotList ul li a{display:inline-block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;padding-left:14px;}
.in_hotList ul li .num-on{background-color:#d53030; color:#fff;}
.in_subscribe{margin-top:20px;}
.in_subscribe_con{padding:20px; background-color:#f4f4f4; border:1px solid #ededed;}
.in_subscribe_name{margin-bottom:20px; font-size:14px;}
.in_subscribeText{margin-top:12px; padding:0 8px; border:1px solid #dddddd; background-color:#fcfcfc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.in_subscribeText .text{width:100%; height:20px; line-height:20px; padding:5px 0; border:0; background:none;}
.in_subscribeBtn{width:72px; height:34px; line-height:34px; margin-top:15px; font-weight:bold; text-align:center; font-size:14px; color:#fff; border:1px solid #b11017; background-color:#c4181f; cursor:pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.in_subscribeTips{margin-top:12px; padding:0 8px; border:0px solid #dddddd; color:#C4181F;}
.in_links{margin-top:36px; background-color:#f4f4f4; border:1px solid #ededed; border-top:2px solid #c4181f; overflow:hidden;}
.in_links ul{margin-bottom:-1px;}
.in_links ul li{height:48px; line-height:48px; padding-left:60px;  border-bottom:1px solid #e6e6e6;position:relative;}
.in_links ul li a{font-size:16px; width:100%; display:inline-block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.in_links ul li i{width:9px; height:10px; position:absolute; top:50%; right:30px; background:url("icons/icon_arrowR.png") no-repeat;}
.in_ewmTwo{margin-top:20px;}
.in_ewmTwo ul li{width:100px; text-align:center;}
.in_ewmTwo .img{background-color:#fff; border:1px solid #ebebeb;}
.in_ewmTwo .name{padding:8px 0;}


.inRight{width:910px; float:right; overflow:hidden;}
.in_column .ul{width:100%;}
.in_column .ul .li{width:290px;vertical-align:top;margin:15px 0;position:relative;display:inline-block;float:left;}
.in_column .ul .lispace{float:left;width:20px;height:125px;}
.in_column_name{height:32px; line-height:32px; font-weight:normal; font-size:16px;}
.in_column_title{margin-top:12px; font-weight:normal; font-size:14px;height:40px;}
.in_column_img{width:290px;height:145px;overflow:hidden;background:#f1f1f1;}
.in_column_img img{width:290px;height:145px;}
.in_column_time{margin-top:8px; color:#666;}
.in_column_time span{color:#333;}
.in_column_about{margin-top:10px; line-height:24px; font-size:12px; color:#666;}
.in_column_more{height:26px; line-height:26px; display:inline-block; padding:0 15px; float:right; margin-top:5px; color:#666;}
.in_column_more i{margin-left:6px; font-family:"宋体"; font-style:normal;}}
.in_column_more:hover{color:#333;}

.in_tab{margin-top:0px; padding:10px 0 5px 0; border-bottom:1px solid #d9d9d9;}
.in_tab ul li{float:left; padding-left:18px; margin-right:5px; position:relative;}
.in_tab .ul .lispace{float:left;width:20px;height:125px;}
.in_tab ul li a{font-size:18px;}
.in_tab ul li a:hover,.in_tab ul li.current a{color:#c4181f;}
.in_tab ul li i{width:2px; height:18px; font-size:0; position:absolute; top:50%; left:10px; margin-top:-8px; background-color:#d9d9d9;}
.in_tab ul li.current i{background-color:#c4181f;}

.in_recommend{width:910px; margin-top:8px; overflow:hidden;}
.in_recommend ul{width:100%;padding:0;margin:0;}
.in_recommend ul li{width:175px; float:left; margin:16px 6px 10px 0; display:inline;}
.in_recommend ul li a{display:block; height:255px; border:0px solid #d9d9d9;}
.in_recommend ul li a:hover{border:0px solid #ccc;}
.in_recommend_name{margin-top:15px; font-weight:normal; font-size:16px;}
.in_recommend_img{width:168px;height:112px;overflow:hidden;background:#f1f1f1;}
.in_recommend_about{height:85px; line-height:28px; margin-top:8px; color:#666; overflow:hidden;}
.in_recommend_more{height:26px; line-height:26px; display:inline-block; padding:0 15px; float:right; margin-top:5px; color:#666;}
.in_recommend_more i{margin-left:6px; font-family:"宋体"; font-style:normal;}}
.in_recommend_more:hover{color:#333;}

/** 评论列表 **/
.commentsList{margin:0 auto;}
.commentsList .left{float:left;width:160px;overflow:hidden;}
.commentsList .right{float:right;width:750px;}
.commentsList ul li{padding:30px 0 45px 0; border-bottom:1px dotted #b3b3b3;}
.commentsList ul li p{line-height:24px;font-size:14px;margin-top:10px;}
.commentsList_title a{font-size:16px;}
.commentsList_time{margin-top:15px; color:#666;}
.commentsList_about{margin-top:20px; line-height:28px; font-size:14px; color:#666;}
.commentsList_more{height:26px; line-height:26px; display:inline-block; padding:0 15px; float:right; margin-top:15px; color:#666;}
.commentsList_more i{margin-left:6px; font-family:"宋体"; font-style:normal;}}
.commentsList_more:hover{color:#333;}

/** 评论详细 **/
.commentsDetail{padding:0 30px;}


/*foot*/
.footer{width:980px;margin:0 auto;}

/** 尾部 **/
.footer_w{width:100%; border-top:5px solid #c4181f; background:url("images/footerBg.png") repeat;}
.footer{width:1176px; margin:0 auto; padding-top:23px; position:relative;}
.footerMenu dl{width:160px; float:left;display:inline;margin-left:18px;margin-right:18px;}
.footerMenu .dlspace{float:left;width:35px;height:100px; display:inline-block;}
.footerMenu dt{padding:15px 0; border-bottom:1px solid #ccc; font-size:14px; color:#fff;}
.footerMenu dd{padding:15px 0;}
.footerMenu ul li{height:30px; line-height:30px; width:130px; float:left; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.footerMenu ul li a{font-size:12px; color:#fff;}
.footerMenu ul li a:hover{color:#c4181f;}
.footerAbout{width:290px; position:absolute;top:20px; right:0; text-align:center;}
.footer_ewm{margin-top:35px;}
.footer_ewm .tips{margin-top:5px; font-size:14px; color:#999;}
.footer_call{margin-top:20px; display:inline-block; padding-left:40px; font-weight:bold; font-family:"Arial"; font-size:30px; color:#fff; position:relative;}
.footer_call i{width:27px; height:27px; position:absolute; top:50%; left:0; margin-top:-14px; background:url("images/icon_call2.png") no-repeat;}
.footerKeyword{margin-top:10px;}
.footerKeyword_title{font-weight:normal; font-size:18px; color:#c4181f;}
.footerKeyword_link{padding:20px 0; color:#ccc;}
.footerKeyword_link a{font-size:14px; color:#ccc;}
.footerKeyword_link a:hover{color:#c4181f;}
.footerInfo_w{width:100%; background:url("images/footerBg2.png") repeat;}
.footerInfo{width:980px; margin:0 auto; padding:15px 0; position:relative;}
.footerInfo_links{font-size:14px; color:#999;}
.footerInfo_links a{color:#999;}
.footerInfo_links a:hover{color:#c4181f;}
.footerInfo_links span{margin-left:20px;}
.footerInfo_share{position:absolute; top:15px; right:0; font-size:14px; color:#999;}
.footerInfo_share a{margin:0 5px;}
.footerInfo_copy{margin-top:10px; font-family:"Arial"; font-size:14px; color:#999; text-align:center;}
.footerInfo_copy a{color:#999;}

@media all and (max-width:1160px) {
    .top-bg{width:1160px;}
    .footer_w{width:1160px;overflow:hidden;}
    .footerInfo_w{width:1160px;overflow:hidden;}
}

/*zhiku*/
.container-zhiku{width:100%;clear:both;margin:0 auto;}
.zhiku{padding:40px 0 0 0;}
.zhiku-b{padding-bottom:40px;}
.zhiku-space{margin-top:20px;}
.zk-left{float:left;width:700px;}
.zk-right{float:right;width:400px;}
.zk-title{border-bottom:2px solid #ccc;position:relative;height:25px;}
.zk-title span{position:absolute;height:25px;left:0;top:0;border-bottom:2px solid #c4181f;font-size:16px;}
.zk-title .more{position:absolute;height:25px;right:0;top:0;display:inline-block;}
.zk-title .more i{font-family:"宋体";font-style:normal;}
.zk-con1{clear:both;margin:0;padding:0;list-style:none;}
.zk-con1 li{clear:both;list-style:none;padding:16px 0 0 0;}
.zk-con1-img{width:240px;height:124px;float:left;overflow:hidden;background:#f1f1f1;}
.zk-con1-con{float:right;width:430px;}
.zk-con1-con h2{font-size:16px;font-weight:normal;height:32px;}
.zk-con1-con h2 a{color:#000;}
.zk-con1-con-intro{color:#666;line-height:24px;font-size:14px;}

.zk-con2{clear:both;margin:0;padding:3px 0 0 0;list-style:none;}
.zk-con2 li{clear:both;list-style:none;padding:13px 0 0 0;}
.zk-con2-img{width:110px;height:126px;float:left;overflow:hidden;background:#f1f1f1;}
.zk-con2-con{float:right;width:265px;}
.zk-con2-con h2{font-size:14px;font-weight:normal;height:32px;}
.zk-con2-con h2 a{color:#000;}
.zk-con2-con-intro{color:#666;line-height:24px;}

.zk-con3{clear:both;margin:0;padding:0;list-style:none;}
.zk-con3 .li{float:left;width:340px;list-style:none;padding:16px 0 0 0;}
.zk-con3 .lispace{margin-left:20px;}
.zk-con3-img{width:95px;height:95px;float:left;overflow:hidden;background:#f1f1f1;}
.zk-con3-con{float:right;width:220px;}
.zk-con3-con h2{font-size:14px;font-weight:normal;height:24px;}
.zk-con3-con h2 a{color:#000;}
.zk-con3-con-intro{color:#666;line-height:24px;}

.zk-con4{clear:both;margin:0;padding:0;list-style:none;}
.zk-con4 li{clear:both;list-style:none;padding:16px 0 0 0;}
.zk-con4 a{color:#000;font-size:14px;}

.zhiku-2{clear:both;padding:40px 0;background:#ebebeb;min-width:980px;margin:0 auto;}
.zk-con5{width:1160px;margin:0 auto;}
.zk-con5 .zk-title,.zk-con5 .zk-title span{border:0;}
.zk-con5-con{margin-top:10px;height:220px;position:relative;}

.zk-con5-con .slide_pic{width:1037px;float:left;margin-left:58px;overflow:hidden; }
.zk-con5-con .slide_pic ul{width:10000%;}
.zk-con5-con li{float:left;width:152px;height:200px;overflow:hidden;}
.zk-con5-con li img{width:124px;height:153px;}
.zk-con5-con li h2{width:124px;text-align:center;font-weight:normal;font-size:14px;padding-top:5px;}
.zk-con5-con  .slide_left{width:20px; height:37px; position:absolute; left:0px; top:58px; background:url("icons/sideBtn2.png") no-repeat; overflow:hidden;}
.zk-con5-con  .slide_right{width:20px; height:37px; position:absolute; right:0px; top:58px; background:url("icons/sideBtn2.png") no-repeat -20px 0; overflow:hidden;}
.zk-con5-con .slide_left:hover{background:url("icons/sideBtn2.png") no-repeat 0 -37px;}
.zk-con5-con.slide_right:hover{background:url("icons/sideBtn2.png") no-repeat -20px -37px;}

.zk-con6{width:1160px;margin:40px auto 0 auto;}
.zk-con6 .zk-title,.zk-con6 .zk-title span{border:0;}
.zk-con6-con{margin-top:10px;}
.zk-con6-con li{float:left;display:inline-block;margin:6px;width:116px;text-align:center;}
.zk-con6-con li img{width:114px;height:57px;border:1px solid #ccc;overflow:hidden;}
.zk-con6-con li h2{width:114px;text-align:center;font-size:14px;font-weight:normal;word-break:break-all;overflow:auto;padding-top:5px;}

/*SK Style*/
.SK-RLinks{margin-top:20px;}
.SK-RLinks .h2{font-size:16px;border-bottom:1px solid #e0e0e0;padding:10px 0;}
.SK-RLinks .h2 i{width:2px;height:16px;background:#C4181F;margin-top:3px;float:left;font-style:normal;}
.SK-RLinks .h2 span{margin-left:10px;}
.SK-RLinks dt{font-size:16px;border-bottom:1px solid #e0e0e0;padding:10px 0;}
.SK-RLinks dt i{width:2px;height:16px;background:#C4181F;margin-top:3px;float:left;}
.SK-RLinks dt span{margin-left:10px;}
.SK-RLinks dd{border-bottom:1px solid #e0e0e0;font-size:12px;list-style:none;background:#f1f1f1;}
.SK-RLinks dd a{display:block;padding:10px 0px 10px 12px;list-style:none;}

.SK-View-More{float:right; margin-top:5px; color:#666;}
.SK-View-More:hover{color:#c4181f;}
.SK-View-More i{margin-left:6px; font-family:"宋体"; font-style:normal;}

/*SKMargin*/
.SK-Mrg-10{margin-left:10px;}

/*SK-Con-Tab*/
.SK-Con-Tab{height:50px;line-height:50px;padding-left:36px;background:#e9e9e9;font-weight:normal;}
.SK-Con-Tab span{display:inline-block;padding:5px 0;margin-right:20px;float:left;font-size:16px;cursor:pointer;}

/*sitemap*/
.sitemap{width:1160px;margin:120px auto 20px auto;}
.sitemap h1{font-size:18px;padding:5px 10px;font-weight:normal;background:#f1f1f1;}
.sitemap h2{font-size:16px;padding:5px 0;font-weight:normal;border-bottom:1px solid #ccc;}
.sitemap ul{margin:5px 10px;}
.sitemap li{display:inline-block;margin:5px 0;}
.sitemap dl{margin:5px 0;}
.sitemap dd{padding:5px 0;}

/*windowleft*/
.windowleft {
  position: fixed;
  width:200px;
  bottom:50px;
  right: 0px;
}
.windowleft li {
  background: #999;
  height:40px;
  border-radius: 15px;
  margin-top: 2px;
  right: -140px;
  line-height:40px;
  position: relative;
}
.windowleft li a {
  color: #fff;
}
.windowleft li img {
    margin-top:5px;
  margin-left:20px;
  width:24px;
}
.windowleft li span {
  margin-left:20px;
  font-size: 14px;
  color: #fff;
  display: none;
}

#wxid {
    position:absolute;
    top:0;
  right:200px;
    width:100px;
    height:100px;
  background: #fff;
  display: none;
  z-index:999;
  padding:0;
}
#wxid img{margin:0;padding:0;}

/*feedback*/
.feedback{font-size:14px;border:1px solid #e0e0e0;padding:20px;width:1100px;margin:20px auto;}
.feedback td{}
.feedback h2{font-size:18px;padding:20px 0 10px 0;font-weight:normal;border-bottom:1px dotted #666;color:#C4181F;}
.feedback h3{font-size:14px;padding:10px 0;font-weight:normal;}
.feedback .input{background:none;border:0;border-bottom:1px solid #ccc;font-size:14px;height:20px;}
.feedback .fdtips{
    padding:0px 0;
    color:#ff0000;
    font-size:16px;
}

.noBold{font-weight:normal;}

.SKLoading{width:24px;height:24px;margin:50px auto;background:url("images/loading.gif") top center no-repeat;background-size:auto 24px;}
