{extend name="./application/admin/view/public/base.html" /}
{block name="content"}
<div class="page-header">
		<h1>
			{$breadcrumb2}
			<small>
				<i class="ace-icon fa fa-angle-double-right"></i>
				{$crumbs}
			</small>
		</h1>
</div>	
	<ul class="nav nav-tabs">
		
	  <li class="active"><a href="#tab-member" data-toggle="tab">外卖信息</a></li>

	  
	</ul>

	<form class="form-horizontal" id="validation-form"  method="post" action='{:url("TakeOut/edit_food_detail")}'>
	<div class="tab-content">
		<input name="food_id" type="hidden" value="{$data.info.food_id}" />

		<div class="tab-pane active" id="tab-member">
			<table class="table table-binfoed">
				<tr>
				    <td>ID</td>
				    <td>{$data.info.food_id}</td>
				</tr>
				<tr>
					<td>
						外卖大图
					</td>
					<td>
						<div class="form-group required">
							<div class="col-sm-10" id="thumb">
								<a id="thumb-image" href="#" data-toggle="image" class="img-thumbnail">
									{if condition="!empty($data.info['food_pic'])"}
									<img src="IMG_ROOT{$data.info.food_pic|resize=300,100}" />
									{else /}
									<img src="__PUBLIC__/image/no_image_100x100.jpg" />
									{/if}
								</a>
								<input type="hidden" name="food_pic" value="{$data.info.food_pic}" id="input-image" />
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>外卖名</td>
					<td>
						<input name="food_title" type="text" style="width:400px;" value="{$data.info.food_title|default=''}" />
					</td>
				</tr>
				<tr>
					<td>外卖价格</td>
					<td>
						<input name="food_price" type="text" style="width:400px;" value="{$data.info.food_price|default=''}" />
					</td>
				</tr>


				<tr>
					<td>状态</td>
					<td>
						<label class="radio-inline">
						{if condition="$data['info']['status'] EQ '0'"}
							<input type="radio" checked="checked" value="1" name="is_end">正常</label>
							<label class="radio-inline">
							<input type="radio" value="0" name="is_end">关闭</label>
						{else/}
							<input type="radio"  value="1" name="is_end">正常</label>
							<label class="radio-inline">
							<input type="radio" checked="checked" value="0" name="is_end">已经停止</label>
						{/if}
					</td>
				</tr>

				</table>
				<div class="form-group">
				
				<div style="margin-left:20px;">
					<input name="send" type="submit" value="提交" class="btn btn-primary" />
				</div>
			</div>
		</div>
	</div>
	</form>	
	
{/block}
{block name="javascript"}

<script>
$(function(){	
	


});
</script>							
{/block}