{extend name="./application/admin/view/public/base.html" /}

{block name="content"}
<div class="page-header">
	<h1>	
		{$breadcrumb1}
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			{$breadcrumb2}
		</small>
	</h1>
</div>

<div class="page-header">	
	<a href="{:url('ParttimejobBackend/add')}" class="btn btn-primary">新增</a>
</div>		
<table class="table table-striped table-bordered table-hover search-form">
	<thead>
		
		<th><input name="job_name" type="text" placeholder="输入工作名" value="{:input('param.job_name')}" /></th>
		
		<th>
			<a class="btn btn-primary" href="javascript:;" id="search" url="{:url('ParttimejobBackend/jobmanage')}">查询</a>
		</th>
	</thead>
</table>	
	
<div class="row">
	<div class="col-xs-12">	
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>											
						<th>ID</th>
						<th>工作名</th>
						<th>工资</th>
						<th>地址</th>
						<th>人数</th>
						<th>工作时间</th>
						<th>详细介绍</th>
						<th>备注</th>
						<th>发布时间</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
						{volist name="list" id="v" empty="$empty"}
						<tr>						
							<td>{$v.id}</td>
							<td>{$v.job_name}</td>
							<td>{$v.salary}</td>
							<td>{$v.address}</td>
							<td>
								<a style="color: #0a8ddf">
									{$v.apply_counts}/{$v.need_counts}
								</a>
							</td>
							<td>{$v.date}</td>
							<td width="20%">{$v.detail}</td>
							<td width="30%">{$v.notes}</td>
							<td>{$v.time}</td>
							<td>
								{if condition="$v['is_end'] EQ '0'"}
									正常
								{else/}
									停止
								{/if}
							</td>
							<td >
								<a  class="btn btn-xs btn-info" href='{:url("ParttimejobBackend/edit_job_info",array("id"=>$v["id"]))}'>
									<i class="fa fa-edit bigger-120"></i>
								</a>
							</td>
						</tr>
						{/volist}
						<tr>
							<td colspan="20" class="page">{$list->render()}</td>
						</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{/block}
{block name="javascript"}
<script src="__JS__/jquery.jeditable.mini.js"></script>
<script>
$(function(){
    $(".status").editable("update_status", {
        event:'dblclick',
        tooltip:'双击编辑...',
        indicator:'保存中...',
        submit:'确定',
        onblur:'ignore',
        type:'select',//类型不再是默认的text
        data: {'0':'已申请','1':'完成','2':'申请未去','3':'超额人员'},
        submitdata:function(value, settings) {
            return{
                id: $(this).attr('aid'),
            };
        },
    });

   $("#search").click(function () {
        var url = $(this).attr('url');
        var query = $('.search-form').find('input,select').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
        query = query.replace(/^&/g, '');
        if (url.indexOf('?') > 0) {
            url += '&' + query;
        } else {
            url += '?' + query;
        }
        window.location.href = url;
    });	
});
</script>
{/block}