<footer id="footer">
<div class="bottom_nav">
      <a class="nav_search {if condition="isset($flag) AND ($flag eq 'shop')"} hover{/if}" href="{:url('category/index')}"><i></i>HelloShop</a>
    <a class="nav_index {if condition="(isset($flag) AND ($flag eq 'index')) OR(($flag neq 'shop') AND ($flag neq 'user')) "} hover{/if}" href="{:url('/mobile')}"><i></i>Index</a>

    <a class="nav_shopcart" href="{:url('cart/index')}"><i></i>Cart</a>
    <!--<a class="nav_shopcart {if condition="isset($flag) AND ($flag eq 'shopcart')"} hover{/if}" href="{:url('cart/index')}"><i></i>购物车ShopCart</a>-->
    <a class="nav_me {if condition="isset($flag) AND ($flag eq 'user')"} hover{/if}" href="{:url('user/index')}"><i></i>UserCenter</div>
</footer>